@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {	
	:root {
		/* Accent */
		--gnome-accent-bg: #5e81ac;
		--gnome-accent: #88c0d0;

		--gnome-toolbar-star-button: #ebcb8b;

		/* Window */
		--gnome-window-background: #1C1F26;
		--gnome-window-color: #eceff4;
		--gnome-view-background: #1C1F26;
		--gnome-sidebar-background: #1C1F26;
		--gnome-secondary-sidebar-background: #2e3440;

		/* Card */
		--gnome-card-background: rgba(255, 255, 255, 0.08);
		--gnome-card-shade-color: color-mix(in srgb, black 36%, transparent);

		/* Menu */
		--gnome-menu-background: #2e3440;

		/* Header bar */
		--gnome-headerbar-background: #1C1F26;
		--gnome-headerbar-shade-color: rgba(46, 52, 64, 0.9);

		/* Toolbars */
		--gnome-toolbar-icon-fill: #e5e9f0;

		/* Tabs */
		--gnome-tabbar-tab-hover-background: #383f4d; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #2e3440; /* Hardcoded color */
		--gnome-tabbar-tab-active-background-contrast: #2e3440; /* Hardcoded color */
		--gnome-tabbar-tab-active-hover-background: #383f4d; /* Hardcoded color */
		
		--gnome-tabbar-identity-color-green: #a3be8c;
		--gnome-tabbar-identity-color-yellow: #ebcb8b;
		--gnome-tabbar-identity-color-orange: #d08770;
		--gnome-tabbar-identity-color-red: #bf616a;
		--gnome-tabbar-identity-color-purple: #b48ead;
		
		/* Text color for Firefox Logo in new private tab */
		--gnome-private-wordmark: #FBFBFE;
		/* New private tab background */
		--gnome-private-in-content-page-background: #242424;
		/* Private browsing info box */
		--gnome-private-text-primary-color: #FBFBFE;
	}

	/* Backdrop colors */
	:root:-moz-window-inactive {
		--gnome-tabbar-tab-hover-background: #2e3440; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #383f4d; /* Hardcoded color */
	}

	/* Private colors */
	:root[privatebrowsingmode="temporary"] {
		--gnome-accent-fg: #78aeed;
		/* Headerbar */
		--gnome-headerbar-background: #252F49 !important;
		/* Tabs */	
		--gnome-tabbar-tab-hover-background: #343e56; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #343e56; /* Hardcoded color */
		--gnome-tabbar-tab-active-background-contrast: #495675; /* Hardcoded color */
		--gnome-tabbar-tab-active-hover-background: #414a61; /* Hardcoded color */
	}

	/* Private and backdrop colors */
	:root[privatebrowsingmode="temporary"]:-moz-window-inactive {
		--gnome-headerbar-background: #3b4252 !important;
		--gnome-tabbar-tab-hover-background: #2e3440; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #2e3440; /* Hardcoded color */
	}
}
